{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Notes{% endblock %}

{% block navbar %}
  {{ nav.navbar.render() }}
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Notes</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for note in notes %}
        <div class="col-md-4">
          <div class="panel panel-default" onclick="window.location +='/{{ note.id }}'">
            <div class="panel-heading">{{ note.title }}</div>
            <div class="panel-body">{{ note.text }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
